/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
/* import color-1.css */

/* Variables */
:root {
    --orange: hsl(36, 80%, 50%);
    --white: hsl(0, 0%, 100%);
    --WHITE: hsl(0, 0%, 100%);
    --BLACK: hsl(0, 0%, 0%);
    --black90: hsl(0, 0%, 10%);
    --black70: hsl(0, 0%, 30%);
    --black-alpha-40: hsla(0, 0%, 0%, 0.4);
    --yellow-light: hsl(44, 95%, 83%);
    --green-light: hsl(158, 68%, 75%);
    --red-light: hsl(0, 84%, 80%);
    --orange-light: hsl(22, 85%, 80%);
    --select-box-bg-color: hsl(0, 0%, 100%);
    --border-color: hsl(0, 0%, 90%);
    --cream: hsl(0, 0%, 97%);
}



/* base */
body {
    background-color: var(--body-bg-color);
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: var(--black-70);
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black90);
    line-height: 1.3;
}

h3 {
    font-size: 20px;
}

::selection {
    color: var(--black-alpha-40);
    background-color: var(--orange-light);
}

.header {
    border-bottom: 1px solid --border-color-2;
}

.header-logo a {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--black-70);
}

.header-logo span {
    color: var(--main-color);
}

.header .menu-item {
    display: inline-block;
    margin-right: 40px;
    position: relative;
    transition: color 0.3s ease;
}

.header .menu-item>a {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    color: var(--black790);
    text-transform: capitalize;

}

.header .menu-item>a i {
    font-size: 13px;
    margin-left: 3px;
    pointer-events: none;
}

.header .sub-menu-item a:hover,
.header .menu-item:hover>a {
    color: var(--main-color);
}

.header .sub-menu {
    position: absolute;
    /* top: 100%; */
    background-color: var(--white);
    width: 210px;
    left: 0;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: var(--black-70);
    transition: all 0.3s ease;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
}

@media (min-width: 1200px) {
    .header .menu-item:hover>.sub-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

.header .sub-menu-item a {
    display: block;
    padding: 10px 20px;
    color: var(--black90);
    text-transform: capitalize;
    font-weight: 400;
    transition: color 0.3s ease;
}

.header .header .header-backdrop,
.header-close-btn,
.header-hamburger-btn {
    display: none;
}

.btn-block {
    width: 90%;
}

/* Banner */
.banner-section {
    padding: 80px 0;
    min-height: 680px;
}

.banner-text h2 {
    font-size: 20px;
    color: var(--main-color);
}

.banner-text h1 {
    font-size: 45px;
    font-weight: 700;
}

.banner-section .circular-img-circle {
    background-color: var(--red-light);
}

.container {
    --bs-gutter-x: 15px;
    max-width: 1300px;
}

.row {
    --bs-gutter-x: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Circular image */
.circular-img {
    max-width: 360px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.circular-img {
    text-align: center;
    border-radius: 0 0 180px 180px;
}

.circular-img-circle {
    width: 360px;
    height: 360px;
    position: relative;
    border-radius: 50%;
    left: 0px;
    bottom: 0px;
}

.circular-img img {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 50%;
}

.btn-theme {
    background-color: var(--main-color);
    color: var(--white);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 8px 20px;
    transition: all 0.3s ease;
}

.btn-theme:hover {
    background-color: var(--white);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.box {
    background-color: var(--white);
    padding: 5px;
    border-radius: 30px;
    box-shadow: var(--shadow);
}

.fun-facts-item {
    padding: 15px 0;
}

.fun-facts-item h2 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.fun-facts-item p {
    margin: 0;
    text-transform: capitalize;
}

.fun-facts-item .style-1 {
    color: var(--black-70);
}

.fun-facts-item .style-2 {
    color: var(--green-light);
}

.fun-facts-item .style-3 {
    color: var(--red-light);
}

.fun-facts-item .style-4 {
    color: var(--orange-light);
}

.section-padding {
    padding: 60px 0;
}

.section-all-padding {
    padding: 0 30px;
}

.section-title {
    margin-bottom: 40px;
}

.section-title .title {
    font-size: 20px;
    color: var(--main-color);
    text-transform: capitalize;
}

.section-title .sub-title {
    font-size: 35px;
    font-weight: 600;
    color: var(--black90);
}

.courses-item {
    margin-bottom: 30px;
    position: relative;
}


.courses-item .img-box img {
    width: 100%;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle;
}

.courses-item .img-box {
    overflow: hidden;
    border-radius: 5px;
}

.courses-item .img-box img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


.courses-item .link {
    color: var(--black-70);
    display: inline-block;
}

.courses-item .title {
    text-transform: capitalize;
    margin: 15px 0;
    transition: color 0.3s ease;
}

.courses-item:hover .title {
    color: var(--main-color);
}

.courses-item .instructor {
    text-transform: capitalize;
    margin: 0 0 12px;
}

.courses-item .instructor img {
    width: 30px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    margin-right: 5px;
}

.courses-item .rating {
    font-size: 17px;
}

.courses-item .average-rating {
    font-weight: 600;
    color: var(--orange);
}

.courses-item .average-stars i {
    color: var(--orange);
}

.courses-item .price {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--main-color);
    color: var(--white);
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 8px;
}

/* Testimonials Section Css */

.testimonials-section .img-box {
    height: 200px;
    width: 200px;
    margin: 30px auto 50px;
    background-color: var(--red-light);
}

.testimonials-section .img-box::before,
.testimonials-section .img-box::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 2px solid var(--red-light);
    animation: spin 15s linear infinite;
}

.testimonials-section .img-box::before {
    height: 240px;
    width: 240px;
    left: -20px;
    top: -20px;
    border-left: 1px solid transparent;
}

.testimonials-section .img-box::after {
    height: 270px;
    width: 270px;
    left: -35px;
    top: -35px;
    border-right: 1px solid transparent;
}

.testimonials-section .carousel-control-prev,
.testimonials-section .carousel-control-next {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: var(--main-color);
    display: inline-block;
    border-radius: 50%;
    margin: 0px 10px;
}

.bai-section {
    margin-top: 20px;
}

.bai-section .circular-img-circle {
    background-color: var(--yellow-light);
}

.footer-top {
    padding: 50px 0 20px;
    border-top: 1px solid var(--border-color-2);
    background-color: antiquewhite;
}

.footer-item {
    margin: 0 0 30px
}

.footer-item h3 {
    text-transform: capitalize;
    margin: 0 0 20px;
}

.footer-item .footer-logo {
    color: var(--black-70);
    text-transform: uppercase;
}

.footer-item .footer-logo span {
    color: var(--main-color);
}

.footer-item ul li:not(:last-child) {
    margin-bottom: 8px;
}

.footer-item ul a {
    text-transform: capitalize;
    color: var(--black-70);
    transition: color 0.3s ease;
    position: relative;
}

.footer-item ul a .social-icon {
    margin-right: 5px;
}

.footer-item ul a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}

.footer-item ul a:hover::before {
    width: 100%;
}

.footer-bottom {
    border-top: 1xp solid var(--border-color-2);
}

.footer-bottom p {
    font-size: 16px;
}

.breadcrumb-nav {
    padding: 10px 0;
}

.breadcrumb-nav .breadcrumb-item {
    font: size 16px;
    text-transform: capitalize;
}

.breadcrumb-nav .breadcrumb-item+.breadcrumb-item::before,
.breadcrumb-nav .breadcrumb-item.active {
    color: var(--black-70)
}

.nav-tabs .nav-link {
    background-color: var(--white);
    text-transform: capitalize;
    border-color: var(--border-color-2);
    padding: 5px 12px;
    margin: 0 10px 10px;
    border-radius: 5px;
    color: var(--black-70);
    font-size: 18px;
    box-shadow: var(--shadow);
}

.nav-tabs .nav-link:hover {
    border-color: 1px solid var(--border-color-2);
}

.nav-tabs .nav-link.active {
    background-color: var(--main-color);
    border-color: transparent;
    color: var(--white);

}

.page-link {
    border: none;
    background-color: transparent;
    color: var(--black-70);
}

.page-item.active .page-link {
    background-color: var(--main-color);
}

.page-item:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.form-title {
    font-size: 30px;
    margin: 30px 25px 30px;
    font-weight: 600;
}

.form-control::placeholder {
    color: var(--black-70);
}

.form-group {
    margin: 25px;
    position: relative;
}

.form-control {
    height: 48px;
    border-color: var(--border-color);
    color: var(--black-90);
    background-color: transparent;
}

.form-control:focus {
    border: 2px solid var(--main-color);
    box-shadow: var(--shadow);
}

.contact-item {
    position: relative;
    padding-left: 55px;
    margin-bottom: 40px;
}

.contact-item .icon-box {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 0px;
    top: 0px;
    color: var(--white);
}

textarea.form-control {
    height: 140px;
    resize: none;
}

/* card */
.card {
    position: relative;
    flex-direction: row;
    min-width: 0;
    padding: 10px 5px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
    transition: all 0.3s ease;
}

.courses-img-box {
    margin: 15px 5px 15px 5px;
    border-radius: 20px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0px 0px 10px var(--main-color);
    transform: translate(0px, -3px);
    transform: scale(1.02);
}

.course-title {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--main-color);
}

.course-subtitle {
    padding: 10px;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
}

.course-join {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}

.course-join button,
.course-join a {
    margin: 0 10px;
}

.courses-details .box {
    padding: 2rem;
}

.course-header h2 {
    font-size: 30px;
    margin: 0 0 15px;
    font-weight: 600;
}

.course-header .average-rating {
    font-weight: 600;
    color: var(--orange);
}

.course-header .average-stars i {
    font-size: 14px;
    color: var(--orange);
}

.course-header .rating span {
    vertical-align: middle;
}

.course-header ul li {
    margin-bottom: 6px 0 0;
    text-transform: capitalize;
}

.course-header ul li span {
    margin-left: 5px;

}

.course-tabs {
    margin: 30px 0 20px;
}

.course-tabs .nav-link {
    margin: 0 10px 10px 0;
}

.course-curriculum .accordion-item {
    border-color: var(--border-color);
    background-color: transparent;
}

.course-curriculum .accordion-button span {
    position: absolute;
    right: 17px;
    font-size: 14px;
}

.course-curriculum .accordion-button::after {
    content: '\f077';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background-image: none;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: auto;
    line-height: 1;
}

.course-curriculum .accordion-button {
    background-color: transparent;
    color: var(--black-90);
    font-weight: 300;
    flex-wrap: true;
    padding-left: 3rem;
    padding-right: 160px;
    line-height: 1.5;
}

.course-curriculum .accordion-button:focus {
    box-shadow: none;
}

.course-curriculum .accordion-button:not(.collapsed) span {
    font-weight: 500;
}

.course-curriculum .accordion-button:not(.collapsed)::after {
    transform: translateY(-50%) rotate(-180deg);
}

.course-curriculum .accordion-button:not(.collapsed) {
    font-weight: 600;
    border-bottom: 1px solid var(--border-color);
    transition: none;
    box-shadow: none;
}

.course-curriculum ul li {
    position: relative;
    padding: 0 50px 0 20px;
    font-size: 16px;
}

.course-curriculum ul li span {
    position: absolute;
    right: 0;
    top: 0;
}

.course-curriculum ul li i {
    position: absolute;
    left: 0;
    top: 6px;
    color: var(--black-70);
}


.course-instructor .img-box img {
    max-width: 128px;
    margin-bottom: 15px;
}

.course-instructor h4 {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.course-instructor h4 span {
    font-weight: 300;
}

.course-instructor ul li span {
    color: var(--main-color);
    margin-right: 5px;
}


.course-instructor ul li:not(:last-child) {
    margin-bottom: 5px;
}


.rating-summary .average-rating {
    font-size: 40px;
    font-weight: 700;
    color: var(--black-90);
}

.rating-summary .average-stars i {
    color: var(--main-color);
}

.rating-summary .rating-bars-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.rating-summary .progress {
    height: 8px;
    background-color: var(--border-color-2);

    width: 100%;
    margin-right: 20px;
    border-bottom: 20px;
    border-radius: 0;
}

.rating-summary .progress-bar {
    background-color: var(--main-color);
}

.rating-summary .star-text {
    min-width: 60px;
    color: var(--orange);
}

.reviews-item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 65px;
}

.reviews-item .img-box {
    max-width: 50px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.reviews-item h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 5px;

    color: var(--black-50);
}

.reviews-item .stars-rating i {
    color: var(--orange);
    font-size: 14px;
}

.reviews-item .stars-rating .date {
    margin: 5px;
    font-size: 14px;
    display: inline-block;
}

.reviews-item p {
    margin: 5px 0 0;
}

.course-sidebar .img-box {
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.course-sidebar .img-box::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black-alpha-40);
}

.course-sidebar .play-icon {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    background-color: var(--main-color);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--white);
}

.course-sidebar .img-box p {
    position: absolute;
    color: var(--WHITE);
    font-weight: 500;
    top: calc(50% + 40px);
    font-weight: 500;
    width: 100%;
}

.course-sidebar .price span {
    margin-right: 8px;
}

.course-sidebar .price-new {
    font-size: 30px;
    font-weight: 700;
    color: var(--black-90);
}


.course-sidebar .price-discount {
    color: var(--main-color);
}

.course-sidebar .features-list li {
    position: relative;
    padding-left: 21px;
    margin-left: 8px;
    margin-bottom: 10px;
}

.course-sidebar .features-list li::before {
    content: '';
    height: 6px;
    width: 6px;
    position: absolute;
    background-color: var(--main-color);
    left: 0;
    top: 9px;
    border-radius: 50%;
}